@charset "UTF-8";

@font-face {
  font-family: "ibenefit";
  src:url("fonts/ibenefit.eot");
  src:url("fonts/ibenefit.eot?#iefix") format("embedded-opentype"),
    url("fonts/ibenefit.woff") format("woff"),
    url("fonts/ibenefit.ttf") format("truetype"),
    url("fonts/ibenefit.svg#ibenefit") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ibenefit" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ibenefit" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera-plus-ico:before {
  content: "\67";
}
.icon-camera-ico:before {
  content: "\68";
}
.icon-square-uncheck-ico:before {
  content: "\6c";
}
.icon-checked-circle-ico:before {
  content: "\6d";
}
.icon-category-cms:before {
  content: "\66";
}
.icon-checked-ico:before {
  content: "\69";
}
.icon-square-checked-ico:before {
  content: "\6a";
}
.icon-comment-ico:before {
  content: "\6e";
}
.icon-comment-question-ico:before {
  content: "\6f";
}
.icon-company-ico:before {
  content: "\70";
}
.icon-computer-ico:before {
  content: "\71";
}
.icon-course-ico:before {
  content: "\72";
}
.icon-customers-ico:before {
  content: "\73";
}
.icon-deliver-ico:before {
  content: "\75";
}
.icon-department-ico:before {
  content: "\76";
}
.icon-3-dots-ver-ico:before {
  content: "\77";
}
.icon-down-ico:before {
  content: "\78";
}
.icon-down-circle-ico:before {
  content: "\79";
}
.icon-edit-ico:before {
  content: "\41";
}
.icon-email-ico:before {
  content: "\42";
}
.icon-favourite-ico:before {
  content: "\43";
}
.icon-fb-ico:before {
  content: "\44";
}
.icon-gift:before {
  content: "\45";
}
.icon-order-delivery:before {
  content: "\46";
}
.icon-filter-ico:before {
  content: "\47";
}
.icon-flag-ico:before {
  content: "\48";
}
.icon-flash:before {
  content: "\49";
}
.icon-right-circle-ico:before {
  content: "\4b";
}
.icon-fprint-ico:before {
  content: "\4c";
}
.icon-fullscr-ico:before {
  content: "\4d";
}
.icon-eye-hide:before {
  content: "\4e";
}
.icon-home-btn-ico:before {
  content: "\4f";
}
.icon-bin-full:before {
  content: "\50";
}
.icon-bin-empty:before {
  content: "\51";
}
.icon-info-ico:before {
  content: "\54";
}
.icon-insta-ico:before {
  content: "\55";
}
.icon-lessions-ico:before {
  content: "\56";
}
.icon-levels-ico:before {
  content: "\57";
}
.icon-like-ico:before {
  content: "\58";
}
.icon-menu-ico:before {
  content: "\30";
}
.icon-money-bg:before {
  content: "\32";
}
.icon-msg-ico:before {
  content: "\33";
}
.icon-noti-circle-ico:before {
  content: "\34";
}
.icon-noti-ico:before {
  content: "\35";
}
.icon-ok-ico:before {
  content: "\36";
}
.icon-order-ico:before {
  content: "\37";
}
.icon-pause-ico:before {
  content: "\38";
}
.icon-phone-ico:before {
  content: "\39";
}
.icon-phone-circle-ico:before {
  content: "\21";
}
.icon-picture-ico:before {
  content: "\22";
}
.icon-play-circle:before {
  content: "\23";
}
.icon-plus-circle-ico:before {
  content: "\25";
}
.icon-plus-ico:before {
  content: "\26";
}
.icon-present-ico:before {
  content: "\27";
}
.icon-pricesie-ico:before {
  content: "\28";
}
.icon-products-ico:before {
  content: "\29";
}
.icon-products-cms:before {
  content: "\2a";
}
.icon-profile-ico:before {
  content: "\2b";
}
.icon-promotion-ico:before {
  content: "\2c";
}
.icon-questions-ico:before {
  content: "\2e";
}
.icon-star-ico:before {
  content: "\2f";
}
.icon-ratio:before {
  content: "\3a";
}
.icon-ratio-non:before {
  content: "\3b";
}
.icon-report-circle-ico:before {
  content: "\3e";
}
.icon-sales-off-ico:before {
  content: "\3f";
}
.icon-search-btn-ico:before {
  content: "\40";
}
.icon-send-btn-ico:before {
  content: "\5d";
}
.icon-send-msg-ico:before {
  content: "\5e";
}
.icon-settings-black:before {
  content: "\5f";
}
.icon-settings-white:before {
  content: "\60";
}
.icon-settings-circle:before {
  content: "\7b";
}
.icon-share-ico:before {
  content: "\7c";
}
.icon-shield-ico:before {
  content: "\7d";
}
.icon-students-ico:before {
  content: "\5c";
}
.icon-survey-ico:before {
  content: "\e000";
}
.icon-time-ico:before {
  content: "\e001";
}
.icon-twitter-ico:before {
  content: "\e002";
}
.icon-typing-ico:before {
  content: "\e003";
}
.icon-unfavourite-ico:before {
  content: "\e004";
}
.icon-unlike-ico:before {
  content: "\e005";
}
.icon-up-ico:before {
  content: "\e006";
}
.icon-up-circle-ico:before {
  content: "\e007";
}
.icon-user-role-ico:before {
  content: "\e008";
}
.icon-user-settings-ico:before {
  content: "\e009";
}
.icon-users-group-ico:before {
  content: "\e00a";
}
.icon-users-ico:before {
  content: "\e00b";
}
.icon-wifi-ico:before {
  content: "\e00c";
}
.icon-zalo-ico:before {
  content: "\e00e";
}
.icon-cart-ico:before {
  content: "\e00f";
}
.icon-back-btn:before {
  content: "\e010";
}
.icon-filter-setting:before {
  content: "\e011";
}
.icon-shoot:before {
  content: "\e013";
}
.icon-play-ico:before {
  content: "\24";
}
.icon-menu-course:before {
  content: "\e014";
}
.icon-menu-user:before {
  content: "\e017";
}
.icon-menu-agency:before {
  content: "\e018";
}
.icon-menu-finance:before {
  content: "\e019";
}
.icon-menu-order:before {
  content: "\e01d";
}
.icon-report-ico:before {
  content: "\3c";
}
.icon-menu-category:before {
  content: "\6b";
}
.icon-menu-product:before {
  content: "\e012";
}
.icon-menu-gift:before {
  content: "\e015";
}
.icon-menu-setting:before {
  content: "\e016";
}
.icon-menu-noti:before {
  content: "\e01b";
}
.icon-reply-ico:before {
  content: "\e01c";
}
.icon-left-ico:before {
  content: "\64";
}
.icon-right:before {
  content: "\4a";
}
.icon-svg-computer:before {
  content: "\e01a";
}
.icon-menu-left:before {
  content: "\31";
}
.icon-mute-ico:before {
  content: "\e01e";
}
.icon-fullscreen-ico:before {
  content: "\e01f";
}
.icon-minimize-ico:before {
  content: "\e020";
}
.icon-unmute-ico:before {
  content: "\e021";
}
.icon-shopping-ico:before {
  content: "\e022";
}
.icon-folder-ico:before {
  content: "\e023";
}
.icon-next10-btn:before {
  content: "\e024";
}
.icon-back10-btn:before {
  content: "\e025";
}
.icon-next-track:before {
  content: "\e026";
}
.icon-prev-track:before {
  content: "\e027";
}
.icon-ibenefit-logo:before {
  content: "\e028";
}
.icon-micoff-btn:before {
  content: "\e029";
}
.icon-outcall-ico:before {
  content: "\e02a";
}
.icon-incall-ico:before {
  content: "\e02b";
}
.icon-camera-rotate-ico:before {
  content: "\3d";
}
.icon-idcard-front-ico:before {
  content: "\53";
}
.icon-idcard-back-ico:before {
  content: "\52";
}
.icon-waiting-circle:before {
  content: "\e02d";
}
.icon-error-circle:before {
  content: "\e02c";
}
.icon-error:before {
  content: "\e02e";
}
.icon-x-btn-ico:before {
  content: "\e00d";
}
.icon-back-btn-ico:before {
  content: "\65";
}
.icon-copy:before {
  content: "\e02f";
}
.icon-arrow-right:before {
  content: "\e030";
}
.icon-skip:before {
  content: "\e031";
}
.icon-ok:before {
  content: "\e032";
}
.icon-back:before {
  content: "\e033";
}
.icon-slides-ico:before {
  content: "\7e";
}
.icon-x:before {
  content: "\e034";
}
.icon-waiting:before {
  content: "\e035";
}
.icon-return:before {
  content: "\e036";
}
.icon-products:before {
  content: "\e037";
}
.icon-checked:before {
  content: "\e038";
}
.icon-money:before {
  content: "\e039";
}
.icon-new:before {
  content: "\e03a";
}
.icon-money-collection:before {
  content: "\e03b";
}
.icon-sort-az:before {
  content: "\e03c";
}
.icon-grid:before {
  content: "\e03d";
}
.icon-location-ico:before {
  content: "\59";
}
.icon-list:before {
  content: "\e03e";
}
.icon-menu-btn:before {
  content: "\5a";
}
.icon-locked:before {
  content: "\e03f";
}
.icon-unlock:before {
  content: "\e040";
}
.icon-sort-za:before {
  content: "\e041";
}
.icon-zoom-in:before {
  content: "\e042";
}
.icon-download-ico:before {
  content: "\7a";
}
.icon-favourite:before {
  content: "\e045";
}
.icon-exit:before {
  content: "\e046";
}
.icon-attactment:before {
  content: "\e047";
}
.icon-print:before {
  content: "\e048";
}
.icon-scan:before {
  content: "\e049";
}
.icon-signed:before {
  content: "\e04a";
}
.icon-upload:before {
  content: "\e04b";
}
.icon-upload-circle:before {
  content: "\e04c";
}
.icon-processing:before {
  content: "\e04e";
}
.icon-favourite-circle:before {
  content: "\e04f";
}
.icon-expired:before {
  content: "\e050";
}
.icon-hand:before {
  content: "\e051";
}
.icon-ibe:before {
  content: "\e052";
}
.icon-camera-circle:before {
  content: "\e053";
}
.icon-attactment-circle:before {
  content: "\e054";
}
.icon-camera-border:before {
  content: "\e055";
}
.icon-document-circle:before {
  content: "\e056";
}
.icon-msg-circle:before {
  content: "\e057";
}
.icon-reject:before {
  content: "\e058";
}
.icon-delete:before {
  content: "\62";
}
.icon-boss:before {
  content: "\74";
}
.icon-ads-ico:before {
  content: "\e044";
}
.icon-eye-show-icon:before {
  content: "\5b";
}
.icon-observe:before {
  content: "\e04d";
}
.icon-search:before {
  content: "\e059";
}
.icon-checked-circle-2:before {
  content: "\e05a";
}
.icon-forward-circle:before {
  content: "\e05b";
}
.icon-x-circle:before {
  content: "\e05c";
}
.icon-history-circle:before {
  content: "\e05d";
}
.icon-pricetag:before {
  content: "\e05f";
}
.icon-video:before {
  content: "\e05e";
}
.icon-icon-11:before {
  content: "\e060";
}
.icon-wallet-money:before {
  content: "\e061";
}
.icon-wallet-coin:before {
  content: "\e062";
}
.icon-wallet-scan:before {
  content: "\e063";
}
.icon-wallet:before {
  content: "\e064";
}
.icon-wallet-plus:before {
  content: "\e065";
}
.icon-wallet-cash-out:before {
  content: "\e066";
}
.icon-wallet-transaction:before {
  content: "\e067";
}
.icon-wallet-credit-limit:before {
  content: "\e068";
}
.icon-achieve:before {
  content: "\e069";
}
.icon-date:before {
  content: "\e06a";
}
.icon-link:before {
  content: "\e06b";
}
.icon-jobseek:before {
  content: "\e06c";
}
.icon-support:before {
  content: "\e06d";
}
.icon-tips:before {
  content: "\e06f";
}
.icon-msg:before {
  content: "\e06e";
}
.icon-calendar-ico:before {
  content: "\63";
}
.icon-qr-ico:before {
  content: "\2d";
}
.icon-3dots-ico:before {
  content: "\61";
}
.icon-ambulance:before {
  content: "\e070";
}
