body,
button {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

*:focus {
  outline: none;
}

body {
  user-select: none;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  /* space definition */
  --space-0: 4px;
  --space-1: 8px;
  --space-2: 12px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;

  /* font-size definition */

  /* icon */
  --icon-size-small: 24px;
  --icon-size-default: 32px;
  --icon-size-large: 48px;
  /* text */
  --font-size-small: 13px;
  --font-size-default: 14px;
  --font-size-large: 16px;
  /* header */
  --font-size-h6: 16px;
  --font-size-h5: 18px;
  --font-size-h4: 20px;
  --font-size-h3: 24px;
  --font-size-h2: 28px;
  --font-size-h1: 32px;

  /* color definition */
  --primary-color: #53B175;
  --hint-primary-color: #8EB19B;
  --secondary-color: #40BFFF;
  --danger-color: #FB7181;
  --price-text-color:#40BFFF;
  --text-title: #181725;
  --text-content: #7C7C7C;
  --text-name:#223263;
  --border-color:#E2E2E2;

  --tiki-background:rgba(83, 177, 117, 0.1);
  --tiki-border: rgba(83, 177, 117, 0.7);
  --dmx-background:rgba(248, 164, 76, 0.1);
  --dmx-border: rgba(248, 164, 76, 0.7);
  --shoppe-background:rgba(247, 165, 147, 0.25);
  --shoppe-border: #F7A593;
  --lazada-background:rgba(211, 176, 224, 0.25);
  --lazada-border:#D3B0E0;


}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

.icon-small {
  font-size: var(--icon-size-small);
}
.icon-default {
  font-size: var(--icon-size-default);
}
.icon-large {
  font-size: var(--icon-size-large);
}

.color-primary {
  color: var(--primary-color);
}
.color-secondary {
  color: var(--secondary-color);
}
.color-danger {
  color: var(--danger-color);
}
